<% title 'Listing avalible demos' %>

<ul>
  <li>
    <%= link_to "Remove website elements using Prototype in UJS way", ujs_path %>
  </li>
</ul>


<div id="info">
 <a href="http://rails3demos.heroku.com/">Heroku application</a>
 <a href="http://github.com/paneq/rails3-demos">Github repository</a>
</div>
